/* General layoyt styles */
#root{
    width:100%;
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    background-color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    /*gap: 1rem;
    margin: 0 0 20px 10px; /*upside rightSide dowwside leftSide*/
}

.box {
  padding: 10px;
  margin-bottom: 20px;
}


/* tablets and desktop layout*/
@media (min-width: 641px) {
    main {
      display: flex;
      flex-direction: row;
    }

    aside {
        flex-basis: min-content; /*should fix the basis = width*/
        margin-right: 10px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
